<%# filepath: app/views/layouts/meta_image.html.erb %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meta Image</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body class="m-0 p-0">
  <%= yield %>
</body>
</html>